accelerate==1.13.0
numpy==2.4.2
opencv-python==4.13.0.92
pillow==12.1.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
timm==1.0.25
torch==2.10.0
torch-tb-profiler==0.4.3
torchvision==0.25.0
torchvision==0.25.0
tqdm==4.67.3
